<tr>
  <td><%= link_to vacina.descricao, cadernetum_path(vacina.id) %></td>
  <td><%= Current.caderneta.qtde_por_vacina(vacina) %> doses</td>
  <td><%= link_to 'Editar', edit_vacina_path(vacina) %></td>
  <td><%= link_to 'Remover', vacina_doses_path(vacina), data: { turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></td>
</tr>
