<p id="notice"><%= notice %></p>

<h1>Vacinas</h1>

<div class="table-responsive-md">
  <table class="table table-striped table-bordered table-hover mt-4 shadow-sm">
    <thead class="thead-light">
      <tr>
        <th>Descricao</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @vacinas.each do |vacina| %>
        <tr>
          <td><%= vacina.descricao %></td>
          <td><%= link_to 'Cadastrar dose', new_vacina_dose_path(vacina) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Vacina', new_vacina_path %>
